<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로진진 영화관</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="top">
          <p><a href="/">로진진</a></p>
        </div>
      </header>
      <nav class="navi">
        <ul>
          <li><a href="/year">연도별</a></li>
          <li><a href="/genre">장르별</a></li>
          <li><a href="/search">영화찾기</a></li>
          <li><a href="/recommend">영화추천</a></li>
        </ul>
      </nav>
    </div>

    <section class="content">
</html>
