<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie</title>

    <nav class="navi">
      <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/year">연도별</a></li>
        <li><a href="/genre">장르별</a></li>
        <li><a href="/search">영화찾기</a></li>
        <li><a href="/recommend">영화추천</a></li>
      </ul>
    </nav>

    <body>
      <div class="container">
    </body>
  </head>
</html>
