<%- include("partials/header"); %>

<a href="#"><img class="img1" src="movie_image.jpg" alt="movie_image1" /></a>
<a href="#"><img class="img1" src="movie_image1.jpg" alt="movie_image2" /></a>
<a href="#"><img class="img1" src="movie_image2.jpg" alt="movie_image3" /></a>

<%- include("partials/footer"); %>
