@charset "utf-8";
@font-face {
  font-family: 타이포_쌍문동 스텐실;
  src: local() format(ttf);
}
.top {
  padding-top: 30px;
  padding-left: 350px;
  color: white;
  font-family: 타이포_쌍문동 스텐실;
  font-size: 60px;
}
.top a,
.top a :visited {
  text-decoration: none;
  color: white;
}

header {
  position: relative;
  background-color: black;
  height: 170px;
}

.navi {
  position: relative;
  background-color: black;
  height: 110px;
}

.navi ul {
  list-style: none;
  height: 70px;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.navi ul li {
  display: inline;
  float: left;
  font-size: 25px;
  font-weight: bold;
}
.navi a,
.navi a:visited {
  padding: 10px 15px 3px 15px;
  text-align: center;
  display: block;
  color: #fff;
  width: 150px;
  text-decoration: none;
}

.navi a:hover,
.navi a:active {
  color: black;
  background-color: white;
  border-radius: 15px;
}
.content {
  /* 본문 */
  float: left;
  width: 80%;
  height: 1890px;
  background: rgba(216, 216, 216, 0.432);
  padding: 10px;
}
.img1 {
  width: 380px;
  height: 570px;
  margin-right: 10px;
}
.img1:hover,
.img1:active {
  border: 7px groove black;
  border-radius: 8px;
}

.right-side {
  /* 사이드 바 */
  float: right;
  width: 20%;
  height: 1890px;
  background: rgba(46, 45, 45, 0.158);
}

footer {
  clear: both;
  width: 98.95%;
  margin-top: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  text-align: center;
}
