<%- include("partials/header"); %>

<section class="login_box">
    <table  class="boxs">
        <tr class="box1" >
            <td class="login_link"><a href="#">login with NAVER</a></td>
        </tr>
        <tr class="box2" >
            <td class="login_link"><a href="#">login with KAKAO</a></td>
        </tr>
        <tr class="box3" >
            <td class="login_link"><a href="#">login with FACEBOOK</a></td>
        </tr>
        <tr class="box4" >
            <td class="login_link"><a href="#">login with INSTAGRAM</a></td>
        </tr>
        <tr class="box5" >
            <td class="login_link"><a href="#">login with GOOGLE</a></td>
        </tr>
        <tr class="box6" >
            <td class="login_link"><a href="#">login with GITHUB</a></td>
        </tr>
        <tr class="box7" >
            <td class="login_link"><a href="#">login with DROPBOX</a></td>
        </tr>
    </table>
</section>

<%- include("partials/footer"); %>